<div id="flashy"></div>
<h2><%= @user.name %>
  <%= render 'connections/follow' %>
  <%= render 'connections/unfollow' %>
  <% if current_user.following?(@user) %>
    <script>
      $('#unfollow_beeper').show();
    </script>
  <% else %>
    <script>
      $('#follow_beeper').show();
    </script>
  <% end %>
</h2>
<div class="row">
  <div class="col-md-4">
    <h3>Your Beeps!</h3>
    <%= render @user.beeps %>
  </div>
<% if current_user == @user %>
  <div class="col-md-4">
    <h3>Beepers you're following</h3>
    <%= render current_user.feed %>
  </div>
<% end %>
</div>
